// ==============================
// 変数
// ==============================
$font-color_default: #000;
$font-color_date: #e37b89; // TODO:リファクタ必要
$color_corp: #e3a8b1;
$font-color_sub1: #b6a489;

$site-width: 1280px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-family_corp: 'Amatic SC', cursive;

// マップ型変数を使うと便利
$breakpoints: (
  'sm': 'screen and (max-width: 599px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

// ==============================
// mixin
// ==============================
// @mixinは関数のようなものを作れる
// https://www.webcreatorbox.com/tech/sass-mixin
// map-get()の第一引数に変数名、第二引数にマップ型のキーを渡すと、マップ型の値が返る
// #{}は「インターポーレーション」といって、演算できない箇所、変数使えない箇所でも使えるようにするものcalcなどでよく使う
// http://book.scss.jp/code/c4/08.html
@mixin mql($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mqs($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// ==================================
// base
// ==================================
html, body {
 min-width:1280px;
 @include mq(){
   min-width:initial;
 }
 background:#fff;
 color:$font-color_default;
 font-size:$font-size_default;
 line-height:1.6;
 text-size-adjust:100%;
 letter-spacing:0.1em;
}

ul{
  list-style:none;
}

a{
  color:#333;
  text-decoration: none;
}

.area h2{
  font-size:1.3rem;
  margin:0 0 20px 10px;
}

.area li{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


p, a {
  -webkit-font-smoothing: antialiased;
}

a{
  color:$font-color_default;
  text-decoration:none;
  transition:.3s;
  display:block;
  width:100%;
  height:100%;
}
a:hover{
  transition:.3s;
  text-decoration:none;
}

img{
  width:100%;
  vertical-align:bottom;
}

.i::before {
font-family: "Font Awesome 6 Free";
font-weight: 900;
content: "\f000";
}

.i::after {
font-family: "Font Awesome 6 Free";
font-weight: 900;
content: "\f000";
}

::placeholder{
  font-size:0.75em;
  color:#aaa;
}

:focus{
  outline: none;
}

select{
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

.c-header{
  width:100%;
  height:80px;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-left:5%;
  padding-right:5%;
  position:fixed;
  z-index:2;
  background-color:rgba(0,0,0,0);
  transition: .3s;
  @include mq(){
    display:none;
  }
  &.float-active{
    transition: .3s;
    background:rgba(255,255,255,1);
    & a{
      color:#000;
    }
  }
}

.c-header-title{
  font-size:$font-size_xl;
  font-weight:bold;
  font-family: "Arial Black", serif;
}

.c-header-res-title{
  font-size:26px;
  font-weight:bold;
  font-family: 'Kaisei Opti', serif;
  line-height:60px;
}

.c-header-res-title-sub{
  font-size:10px;
  line-height:73px;
}

.c-header-ul{
  display:flex;
  align-items:center;
  font-size:$font-size_m;
  margin-bottom:auto;
}

.c-header{
  background:rgba(255,255,255,1);
}

.c-header-title-link{
  color:#000;
}

.c-headerLink{
  -webkit-font-smoothing:initial;
  position:relative;
  display:inline-block;
  text-decoration:none;
  margin-left:20px;
  font-size:$font-size_l;
  font-weight:bold;
  &:hover::after{
    transform:scale(1,1);
  }
}

.c-header-res{
  display:none;
  @include mq(){
    display:block;
    display:flex;
    position:fixed;
    z-index:3;
    width:100%;
    height:60px;
    line-height: 55px;
    margin-left:-5px;
    box-sizing:border-box;
    padding-left:10px;
  }
}

.p-header{
  &__index{
    background-color:rgba(255,255,255,1);
  }
  &__index-title-link{
    color:#000;
    &:hover{
      color:#000;
    }
  }
  &__index-link{
    color:#000;
    font-weight:bold;
    font-size:$font-size_default;
    &:hover{
      color:#00ffff;
    }
    &::after{
      position:absolute;
      bottom:-4px;
      left:0;
      content:'';
      width:100%;
      height:2px;
      background:#fff;
      transform:scale(0,1);
      transform-origin:left top;
      transition: transform .3s;
    }
    @include mql{
      font-size:$font-size_s;
      margin-right:20px;
    }
  }
  &__index-ul{
    margin-top:10px;
  }
  &__index-login{
    text-align:center;
  }
  &__link-login{
    color:#fff;
    font-weight:bold;
    font-size:$font-size_default;
    background:#315499;
    padding:15px 22px;
    border-radius:50px;
    transition:.3s;
    width:150px;
    height:55px;
    &:hover{
      background:#afeeee;
      color:#000;
      text-decoration:none;
    }
  }
  &__index-list{
    text-align:center;
  }
  &__link-list{
    color:#fff;
    font-weight:bold;
    font-size:$font-size_default;
    background:#315499;
    padding:15px 22px;
    border-radius:50px;
    transition:.3s;
    width:150px;
    height:55px;
    &:hover{
      background:#afeeee;
      color:#000;
      text-decoration:none;
    }
  }
  &__index-register{
    text-align:center;
    @include mq(){
      margin-left:0;
    }
  }
  &__link-register{
    color:#000;
    font-weight:bold;
    font-size:$font-size_default;
    background:#fff;
    padding:15px 7px;
    border:1px solid #315499;
    border-radius:50px;
    transition:.3s;
    width:160px;
    height:55px;
    &:hover{
      background:#f0ffff;
      color:#000;
      text-decoration:none;
    }
  }
  @include mq(){
    display:none;
  }
  &__index-res{
    display:none;
    @include mq(){
      display:block;
      display:flex;
      justify-content:space-between;
      align-items:center;
      box-sizing:border-box;
      padding:20px;
      margin-top:10px;
    }
  }
  // ==================================
  // menu
  // ==================================
  &__nav-menu{
    display:none;
    @include mq(){
      overflow:auto;
      display:block;
      position:absolute;
      top:-10px;
      right:-106%;
      background:rgba(255, 255, 255, .85);
      width:103%;
      height:100vh;
      transition:.5s;
      box-sizing:border-box;
      text-decoration:underline;
      font-size:$font-size_xl;
      font-weight:bold;
      text-align:center;
      &.active{
        transition:.5s;
        transform:translateX(-100%);
      }
    }
  }
  &__menu-link{
    margin-top:60px;
  }
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

#menu05.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}
#menu05.active span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  animation: active-menu05-bar02 .8s forwards;
}
@keyframes active-menu05-bar02 {
  100% {
    height: 0;
  }
}
#menu05.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
}
#menu05.active{
  z-index:2;
}

.c-radio-box{
    width:100px;
    font-weight:bold;
    border:1px solid #3269f5;
    background:#fff;
    color:#3269f5;
    border-radius:20px;
    box-sizing:border-box;
    /*波紋の基点とするためrelativeを指定*/
    position: relative;
    /*はみ出す波紋を隠す*/
    overflow: hidden;
    &::after {
    content: "";
    /*絶対配置で波紋位置を決める*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*波紋の形状*/
    background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat 50%;
    transform: scale(10, 10);
    /*はじめは透過0に*/
    opacity: 0;
    /*アニメーションの設定*/
    transition: transform 0.3s, opacity 1s;
    }

    /*クリックされたあとの形状の設定*/
    &:active::after {
    transform: scale(0, 0);
    transition: 0s;
    opacity: 0.3;
    }
    &:hover{
      background:#f0ffff;
      cursor:pointer;
    }
}

.p-top{
  margin-top:200px;
  @include mq(){
    margin-top:150px;
  }
  &__title{
    text-align:center;
    font-size:$font-size_3l;
    font-weight:bold;
    color:#00008b;
    margin-bottom:20px;
    @include mq(){
      margin:10px;
    }
  }
  &__img{
    margin-left:24%;
    margin-right:25%;
    margin-bottom:150px;
    width:50%;
    @include mq(){
      margin-left:0;
      margin-right:0;
      width:100%;
    }
  }
  &__sub{
    text-align:center;
    font-size:$font-size_l;
    font-weight:bold;
    color:#00008b;
    @include mq(){
      margin:20px;
    }
  }
}

.c-img-block{
  width:100%;
  overflow:hidden;
}

.p-about{
  background:#f5fffa;
  width:100%;
  position:relative;
  height:900px;
  @include mq(){
    height:2450px;
  }
  &__back-title{
    font-size:80px;
    font-weight:bold;
    color:#fff;
    padding:30px;
    box-sizing:border-box;
    @include mq(){
      font-size:$font-size_3l;
    }
  }
  &__title{
    font-size:$font-size_xxl;
    font-weight:bold;
    position:absolute;
    top:100px;
    left:40px;
    @include mq(){
      top:50px;
    }
  }
  &__sub-title{
    font-size:$font-size_xxl;
    font-weight:bold;
    text-align:center;
    color:#4682b4;
    margin-bottom:20px;
    @include mq(){
      margin:10px;
    }
  }
  &__text{
    text-align:center;
    font-weight:bold;
    margin-bottom:10px;
    @include mq(){
      text-align:left;
      margin:20px;
    }
  }
  &__img-area{
    width:80%;
    height:600px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    @include mq(){
      display:block;
      height:1200px;
      margin-top:0;
      width:auto;
    }
  }
  &__img-box{
    box-sizing:border-box;
    width:100%;
    height:470px;
    margin:20px;
    position:relative;
    @include mq(){
      margin-bottom:20px;
      margin-left:auto;
      margin-right:auto;
      width:300px;
      height:600px;
      position:static;
      overflow:hidden;
    }
  }
  &__img-block1{
    height:200px;
    position:absolute;
    top:0;
    @include mq(){
      position:static;
    }
  }
  &__img-block2{
    height:270px;
    top:140px;
    position:absolute;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    @include mq(){
      position:static;
      clip-path:none;
      height:auto;
    }
  }
  &__img-block3{
    height:180px;
    position:absolute;
    bottom:0;
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
    @include mq(){
      position:static;
      clip-path:none;
      height:auto;
    }
  }
}

.c-how-font{
  font-size:50px;
  position:absolute;
  color:#0000ff;
}

.p-how{
  background:#f8f8ff;
  width:100%;
  position:relative;
  height:950px;
  @include mq(){
    height:auto;
  }
  &__back-title{
    font-size:80px;
    font-weight:bold;
    color:#fff;
    padding:30px;
    box-sizing:border-box;
    @include mq(){
      font-size:38px;
    }
  }
  &__title{
    font-size:$font-size_xxl;
    font-weight:bold;
    position:absolute;
    top:100px;
    left:40px;
    @include mq(){
      top:50px;
    }
  }
  &__sub-title{
    font-size:$font-size_xxl;
    font-weight:bold;
    text-align:center;
    color:#4682b4;
    margin-bottom:20px;
  }
  &__text{
    text-align:center;
    font-weight:bold;
    margin-bottom:10px;
  }
  &__lists{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    position:relative;
    @include mq(){
      display:block;
    }
  }
  &__list{
    border-top:1px solid #ff8c00;
    width:calc(100% / 3);
    box-sizing:border-box;
    margin:50px;
    height:400px;
    position:relative;
    @include mq(){
      margin-left:auto;
      margin-right:auto;
      width:80%;
      height:auto;
    }
  }
  &__label{
    align-content:center;
    align-items:center;
    background:#ff8c00;
    border-radius:0 0 8px;
    display:inline-flex;
    flex-wrap:nowrap;
    font-family:Apercu Mono,monospace;
    font-size:1.2rem;
    justify-content:center;
    letter-spacing:0;
    margin-bottom:30px;
    padding:5px 0.75em;
    position:relative;
    width:auto;
  }
  &__font1{
    top:0%;
    right:0%;
  }
  &__font2{
    top:0%;
    right:0%;
  }
  &__font3{
    top:0%;
    right:0%;
  }
  &__list-title{
    font-size:$font-size_l;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:20px;
  }
  &__list-text{
    font-size:$font-size_m;
    height:50px;
  }
  &__img-box{
  }
}

.p-start{
  margin-top:50px;
  &__box{
    width:80%;
    height:200px;
    border-radius:30px;
    box-sizing:border-box;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    background:#00008b;
    position:relative;
    @include mq(){

    }
  }
  &__img{
    width:200px;
    height:200px;
    position:absolute;
    top:5%;
    left:-5%;
    @include mq(){
      width:30%;
      height:70%;
      top:15%;
    }
  }
  &__text{
    font-size:40px;
    color:#fff;
    font-weight:bold;
    position:absolute;
    top:30%;
    left:30%;
    @include mq(){
      font-size:$font-size_xl;
      top:13%;
      left:35%;
    }
  }
  &__button{
    border:none;
    width:200px;
    height:50px;
    display:block;
    background:#ff4500;
    border-radius:60px;
    position:absolute;
    top:34%;
    right:10%;
    @include mq(){
      width:50%;
      right:19%;
      top:55%;
    }
  }
  &__button-text{
    color:#fff;
    font-size:$font-size_xl;
    font-weight:bold;
    line-height:50px;
    &:hover{
      color:#fff;
    }
  }
}

.c-box{
  display:flex;
  @include mq(){
    display:block;
  }
}

.c-img{
  width:500px;
  @include mq(){
    width:100%;
  }
}

.c-box-right{
  box-sizing:border-box;
  border:2px solid #3269f5;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 30px 0 0 30px / 30px 0 0 30px;
}

.c-cont-name{
  text-align:center;
  font-weight:bold;
  font-size:26px;
  margin-top:30px;
  margin-bottom:10px;
  color:#000;
}

.c-total{
  text-align:center;
  color:#000;
  font-size:$font-size_xxl;
}

.c-sub-text{
  text-align:center;
  color:#000;
}

.c-btn-submit{
    color:#fff;
    background:#3269f5;
    border-radius:5px;
    width:80px;
    height:40px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    &:hover{
      background:#5e89f6;
    }
}

.p-cont{
  margin-top:70px;
  &__button-box{
    text-align:center;
    margin-top:30px;
    margin-bottom:10px;
    input[type="radio"]{
      display:none;
    }
    input[type="radio"]:checked + label{
      background: #31A9EE;
      color:#fff;
    }
  }
  &__submit-box{
    width:100%;
  }
}

.p-note{
  margin-top:40px;
  &__title{
    text-align:center;
  }
  &__text{
    margin-bottom:5px;
    text-align:center;
  }
}

.p-pho{
   margin-top:30px;
   margin-bottom:0px;
   &__label{
     width:100%;
     height:250px;
     position:relative;
     display:block;
     box-sizing:border-box;
     background:#fff;
     @include mq(){
       height:auto;
     }
   }
   &__input{
     width:100%;
     height:85%;
     cursor:pointer;
     position:absolute;
     top:0;
     left:0;
     z-index:2;
     opacity:0;
   }
   &__img{
     width:100%;
     height:250px;
     overflow:hidden;
   }
   &__img-text{
     position:relative;
     top:-50%;
     text-align:center;
     font-size:$font-size_l;
   }
}

.c-next-btn{
  box-sizing:border-box;
  font-size:$font-size_l;
  width:200px;
  background:#e0ffff;
  text-align:center;
  line-height:50px;
  height:50px;
  border-radius:100px;
  &:hover{
    background:#f5fffa;
    cursor:pointer;
  }
}

.correct-enter, .correct-leave-to{
  transform: translateY(100vh) translateY(0px);
  opacity:0;
}

.correct-enter-active, .correct-leave-active{
  transform: translate(0px, 0px);
  transition:opacity 1s;
}

.p-pro{
  margin-top:70px;
  &__title{
    text-align:center;
    margin-top:20px;
  }
  &__img-box{
    width:500px;
    height:400px;
    margin-left:auto;
    margin-right:auto;
    @include mq(){
      width:100%;
      height:100%;
    }
  }
  &__img{
    width:100%;
    height:100%;
    overflow:hidden;
  }
  &__name{
    text-align:center;
    margin-top:20px;
  }
  &__button-box{
    text-align:center;
    margin-top:30px;
    margin-bottom:10px;
    font-size:$font-size_default;
    input[type="radio"]{
      display:none;
    }
    input[type="radio"]:checked + label{
      background: #31A9EE;
      color:#fff;
    }
  }
  &__label{
    width:150px;
    height:30px;
    line-height:30px;
  }
  &__submit-box{
    width:100%;
    margin-bottom:20px;
  }
  &__submit{
    color:#fff;
    background:#3269f5;
    border-radius:5px;
    width:100px;
    height:40px;
    text-align:center;
    line-height:40px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    &:hover{
      background:#5e89f6;
      cursor:pointer;
    }
  }
  &__answer-box{
    background:#afeeee;
    width:100%;
    height:120px;
    box-sizing:border-box;
    padding-top:10px;
    position:absolute;
    bottom:0px;
  }
  &__answer-box-text{
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
    padding-bottom:10px;
  }
  &__answer-correct{
    color:red;
    font-weight:bold;
    margin:0;
    font-size:$font-size_xl;
    padding-right:10px;
  }
  &__answer-correct-non{
    color:blue;
    font-weight:bold;
    margin:0;
    font-size:$font-size_xl;
    padding-right:10px;
  }
  &__answer-area{
    font-size:$font-size_xl;
    margin:0;
  }
  &__next-box{
    display:flex;
    justify-content:center;
    align-items:center;
  }
}

.p-rec{
  margin-top:70px;
  &__submit{
    width:200px;
    margin-top:10px;
  }
  &__difficult{
    color:#dc143c;
    font-size:$font-size_xl;
  }
  &__button{
    @include mq(){
      margin-bottom:10px;
    }
  }
}

.c-back-button{
  color:#fff;
  background:#00bfff;
  border-radius:5px;
  width:80px;
  height:40px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  &:hover{
    background:#5e89f6;
  }
}

.p-res{
  @include mq(){
    margin-top:70px;
  }
  &__name{
    color:#ff6347;
  }
  &__submit{
    width:180px;
    margin-top:20px;
  }
  &__button{
    width:150px;
    margin-bottom:20px;
  }
  &__back{
    color:#fff;
    font-weight:bold;
    line-height:40px;
    &:hover{
      color:#fff;
    }
  }
}

.p-kiyaku{
  margin-top:70px;
  &__group{
    margin:10px;
  }
}


#l-main{
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
  @include mq(){
    width:100%;
  }
}

#footer{
  width:100%;
  height:80px;
  box-sizing:border-box;
  color:#fff;
  background-color:#191970;
  padding:10px;
  @include mq(){
    height:80px;
  }
}

.p-flash{
  background:#00ffff;
  text-align:center;
  height:40px;
  line-height:40px;
}

.p-footer{
  width:100%;
  &__ul{
    display:flex;
    justify-content:center;
    flex-wrap:wrap
  }
  &__list{
    &:hover{
      text-decoration:underline;
    }
    & a{
      display:inline;
      color:#fff;
    }
    &::after{
      content:"|";
      margin-left:10px;
      margin-right:10px;
    }
    &:last-child::after{
      content:none;
    }
  }
  &__copy{
    width:100%;
    text-align:center;
    display:flex;
    justify-content:center;
  }
}
